 @font-face {
    font-family: 'MyFont';
    font-weight: 600;
    font-style: normal;
}
/*
div{
    background-color: rgb(201, 176, 176);
    color: rgb(76, 0, 255);
    font-family: 'MyFont';
    font-size: 30px;
    justify-content: left;
     background: url('./rgukt.png'); 
} */


textarea{
  resize: none;
}

.header{
  background-color:rgb(79, 79, 124);
}
.header-heading{
  color: white;
}

.full-width{
  padding-left: 0px;
  padding-right: 0px;
}
.heading-font{
  font-family: 'MyFont';
  font-size: 10px;
}