body{
  /* background-color: rgb(17, 27, 35,1); */
  color: rgb(255, 255, 255);
  background: url('./Img.png'); 
  background-repeat: no-repeat;
  background-size: 100%; 
}

textarea{
  resize: none;
  width: inherit;
}
.bg-light{
  background-color: #dde0e4!important;
}

.txt-light{
  color: white;
}

.header{
  background-color:transparent;
}

.header-links{
  margin-right: 10px;
  color: white;
}

.btn:hover{
  background-color: white;
}

.footer{
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffff;
}
.header-heading{
  color: white;
}
.header-heading:hover{
  color: white;
}

.page-header{
  color: #ffff;
  text-align:center;
}

.full-width{
  padding-left: 0px;
  padding-right: 0px;
}

.content{
  width: 100%;
  position: relative;
  margin-top: 5%;
}

.content-heading{
  padding-left: 0px;
}

.icon-help{
    padding-right: 5px;
}

.help-form{
  width: 30%;
  margin-top: 5%;
  border: 1px solid #ffff;
  padding: 30px;
  position: fixed;
  z-index: 1;
  background: #111b23;
  border-radius: 5px;
  right: 0;
  left: 0;
}

.float-clear-btn{
  border: 1px solid #111b23;
  z-index: 1;
  background: #111b23;
  border-radius: 5px;
  color: #ffff;
}

.loader{
  
}