textarea{
  resize: none;
  width: inherit;
}

.header{
  background-color:rgb(79, 79, 124);
}

.header-links{
  margin-right: 10px;
}
.footer{
  background-color: rgb(79, 79, 124);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffff;
}
.header-heading{
  color: white;
}
.header-heading:hover{
  color: white;
}

.page-header{
  color: #ffff;
  text-align:center;
}

.full-width{
  padding-left: 0px;
  padding-right: 0px;
}

.content{
  width: 100%;
  position: relative;
  margin-top: 5%;
}

.content-heading{
  padding-left: 0px;
}

.icon-help{
    padding-right: 5px;
}

.help-form{
  width: 30%;
  margin-top: 5%;
  border: 1px solid rgb(79, 79, 124);
  padding: 30px;
  position: fixed;
  z-index: 1;
  background: rgb(79, 79, 124);
  border-radius: 5px;
  right: 0;
  left: 0;
}
